[submodule "lib/N64ModernRuntime"]
	path = lib/N64ModernRuntime
	url = https://github.com/N64Recomp/N64ModernRuntime.git
[submodule "lib/RT64"]
	path = lib/RT64
	url = https://github.com/rt64/rt64.git
[submodule "lib/RecompFrontend"]
	path = lib/RecompFrontend
	url = https://github.com/N64Recomp/RecompFrontend.git
[submodule "lib/bh-decomp"]
	path = lib/bh-decomp
	url = https://github.com/jaytheham/body-harvest-decompilation.git
